<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">


	<bean id="address" class="com.learn.spring.injections.Address">
		<constructor-arg value="hyd" type="String" />
		<constructor-arg value="telangana" type="String" />
		<constructor-arg value="india"></constructor-arg>
	</bean>
	<bean id="studentBean" class="com.learn.spring.injections.Student">
		<constructor-arg value="10" type="Integer" />
		<constructor-arg value="nikhil" type="String" />
		<constructor-arg ref="address" type="com.learn.spring.injections.Address" />
	</bean>

</beans>  